nav.navbar {
  margin-bottom: 0;
}

.nav-pills {
  margin-top: 4px;
}

.home-banner {
  background-image: url(https://i.redd.it/4froh1ncpeh11.jpg);
}

.mostar-banner {
  background-image: url(http://i.imgur.com/gFeusxm.jpg);
}

.trebinje-banner {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/90/Trebinje_River.jpg);
}

div.banner {
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;

  color: white;
  text-align: center;
}

h3.main-text {
  text-align: center;
  padding: 5%;
}

a.thumbnail {
  margin-bottom: 0;
}

img.small-img {
  width: 100%;
  height: 190px;
}

.emb-box {
  height: 400px;
  padding: 15px;
}

iframe {
  display: block;
  width: 100%;
  height: 100%;
}
